# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# Environment files
.env

# IDE/editor files
.vscode/
.idea/

# NPM package lock file (optional, can be included if necessary)
package-lock.json
service-account.json
token.json

# Yarn lock file (optional, can be included if necessary)
yarn.lock